In [80]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
%matplotlib inline
from sklearn.linear_model import LinearRegression
import xgboost as xgb
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.ensemble import RandomForestClassifier 
from sklearn.preprocessing import OneHotEncoder
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [81]:
df = pd.read_csv(r"C:\Users\Anuj Bohra\Desktop\vertex.csv")

In [82]:
df

,Group,Area,exploration,communication,feedback,extracurriculars,help_others,confidence,adv_courses,Colab,Exp,Resouce,hours,class
0,No,Data Analysis,No,Enjoy Communicating,Verbal,7,1,2,No,Independent,1,Peer Discussion,2,Beginner
1,No,Computer Vision,Yes,Enjoy Communicating,Verbal,1,1,2,No,Neutral,2,TextBook,1,Beginner
2,No,NLP,No,Enjoy Communicating,Verbal,5,2,3,No,Highly Collaborating,1,Peer Discussion,2,Beginner
3,Yes,Data Analysis,Yes,Neutral,Written,5,2,1,No,Highly Collaborating,1,Study Group,2,Beginner
4,Yes,NLP,Yes,Enjoy Communicating,Verbal,8,2,2,No,Neutral,1,TextBook,2,Beginner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1144,No,Data Analysis,NaN,Enjoy Communicating,Written,9,7,5,No,Neutral,8,Study Group,8,Advanced
1145,No,Computer Vision,NaN,Dislike,Verbal,3,7,8,No,Highly Collaborating,7,Peer Discussion,7,Intermediate
1146,No,Computer Vision,NaN,Dislike,Written,3,10,7,Yes,Neutral,6,Online,6,Beginner
1147,No,Data Analysis,NaN,Dislike,Written,3,7,6,No,Independent,10,Online,10,Advanced
1148,No,Deep Learning,NaN,Neutral,Verbal,6,7,10,Yes,Independent,7,Peer Discussion,7,Advanced

In [83]:
df=pd.get_dummies(df,columns=['Group'])
df=pd.get_dummies(df,columns=['Area'])
df=pd.get_dummies(df,columns=['exploration'])
df=pd.get_dummies(df,columns=['communication'])
df=pd.get_dummies(df,columns=['feedback'])
df=pd.get_dummies(df,columns=['adv_courses'])
df=pd.get_dummies(df,columns=['Colab'])
df=pd.get_dummies(df,columns=['Resouce'])

In [95]:
df

,extracurriculars,help_others,confidence,Exp,hours,Group_No,Group_Yes,Area_Computer Vision,Area_Data Analysis,Area_Deep Learning,...,feedback_Written,adv_courses_No,adv_courses_Yes,Colab_Highly Collaborating,Colab_Independent,Colab_Neutral,Resouce_Online,Resouce_Peer Discussion,Resouce_Study Group,Resouce_TextBook
0,7,1,2,1,2,1,0,0,1,0,...,0,1,0,0,1,0,0,1,0,0
1,1,1,2,2,1,1,0,1,0,0,...,0,1,0,0,0,1,0,0,0,1
2,5,2,3,1,2,1,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,5,2,1,1,2,0,1,0,1,0,...,1,1,0,1,0,0,0,0,1,0
4,8,2,2,1,2,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1144,9,7,5,8,8,1,0,0,1,0,...,1,1,0,0,0,1,0,0,1,0
1145,3,7,8,7,7,1,0,1,0,0,...,0,1,0,1,0,0,0,1,0,0
1146,3,10,7,6,6,1,0,1,0,0,...,1,0,1,0,0,1,1,0,0,0
1147,3,7,6,10,10,1,0,0,1,0,...,1,1,0,0,1,0,1,0,0,0
1148,6,7,10,7,7,1,0,0,0,1,...,0,0,1,0,1,0,0,1,0,0

In [85]:
y = df['class']

In [86]:
y

0           Beginner
1           Beginner
2           Beginner
3           Beginner
4           Beginner
            ...
1144        Advanced
1145    Intermediate
1146        Beginner
1147        Advanced
1148        Advanced
Name: class, Length: 1149, dtype: object

In [87]:
df = df.drop(columns = ['class'])

In [88]:
X=df

In [89]:
X

,extracurriculars,help_others,confidence,Exp,hours,Group_No,Group_Yes,Area_Computer Vision,Area_Data Analysis,Area_Deep Learning,...,feedback_Written,adv_courses_No,adv_courses_Yes,Colab_Highly Collaborating,Colab_Independent,Colab_Neutral,Resouce_Online,Resouce_Peer Discussion,Resouce_Study Group,Resouce_TextBook
0,7,1,2,1,2,1,0,0,1,0,...,0,1,0,0,1,0,0,1,0,0
1,1,1,2,2,1,1,0,1,0,0,...,0,1,0,0,0,1,0,0,0,1
2,5,2,3,1,2,1,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,5,2,1,1,2,0,1,0,1,0,...,1,1,0,1,0,0,0,0,1,0
4,8,2,2,1,2,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1144,9,7,5,8,8,1,0,0,1,0,...,1,1,0,0,0,1,0,0,1,0
1145,3,7,8,7,7,1,0,1,0,0,...,0,1,0,1,0,0,0,1,0,0
1146,3,10,7,6,6,1,0,1,0,0,...,1,0,1,0,0,1,1,0,0,0
1147,3,7,6,10,10,1,0,0,1,0,...,1,1,0,0,1,0,1,0,0,0
1148,6,7,10,7,7,1,0,0,0,1,...,0,0,1,0,1,0,0,1,0,0

In [90]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [91]:
model = LogisticRegression(solver='lbfgs', multi_class='ovr')
model.fit(X_train, y_train)

C:\Users\Anuj Bohra\anaconda3\envs\anuj\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(multi_class='ovr')

In [92]:
y_pred = model.predict(X_test)
accuracy = np.mean(y_pred == y_test)
print("Accuracy:", accuracy)

Accuracy: 0.7

In [93]:
X.columns

Index(['extracurriculars', 'help_others', 'confidence', 'Exp', 'hours',
       'Group_No', 'Group_Yes', 'Area_Computer Vision', 'Area_Data Analysis',
       'Area_Deep Learning', 'Area_NLP', 'exploration_No', 'exploration_Yes',
       'communication_Dislike', 'communication_Enjoy Communicating',
       'communication_Neutral', 'feedback_Verbal', 'feedback_Written',
       'adv_courses_No', 'adv_courses_Yes', 'Colab_Highly Collaborating',
       'Colab_Independent', 'Colab_Neutral', 'Resouce_Online',
       'Resouce_Peer Discussion', 'Resouce_Study Group', 'Resouce_TextBook'],
      dtype='object')

In [94]:
new_data = np.array([[5,5,5,5,5,1,0,1,0,0,0,1,0,0,1,0,1,0,1,0,0,1,0,0,1,0,0]])
y_pred = model.predict(new_data)
print("Prediction:", y_pred)

Prediction: ['Intermediate']

C:\Users\Anuj Bohra\anaconda3\envs\anuj\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"