In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
%matplotlib inline
from sklearn.linear_model import LinearRegression
import xgboost as xgb
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.decomposition import PCA
import random

In [2]:
df = pd.read_csv(r"C:\Users\Anuj Bohra\Downloads\vcet_hac.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Group             0 non-null      object
 1   Hours             0 non-null      object
 2   Area              0 non-null      object
 3   collab            0 non-null      object
 4   exp               0 non-null      object
 5   resource          0 non-null      object
 6   exploration       0 non-null      object
 7   communication     0 non-null      object
 8   feedback          0 non-null      object
 9   extracurriculars  0 non-null      object
 10  help_others       0 non-null      object
 11  confidence        0 non-null      object
 12  adv_courses       0 non-null      object
dtypes: object(13)
memory usage: 0.0+ bytes

In [6]:
df['Group'] = pd.Series(random.choices(['Yes', 'No'], weights=[1, 1], k=len(df)))
print(df)

Empty DataFrame
Columns: [Group, Hours, Area, collab, exp, resource, exploration, communication, feedback, extracurriculars, help_others, confidence, adv_courses]
Index: []

C:\Users\Anuj Bohra\anaconda3\envs\anuj\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [7]:
df

Empty DataFrame
Columns: [Group, Hours, Area, collab, exp, resource, exploration, communication, feedback, extracurriculars, help_others, confidence, adv_courses]
Index: []

In [8]:
num_rows = 1000  # Change this to the number of rows you want
df = pd.DataFrame({'Data_Column': range(num_rows)})
df['exploration'] = pd.Series(random.choices(['Yes', 'No'], weights=[1, 1], k=num_rows))

In [9]:
num_rows = 1000  # Change this to the number of rows you want
# Add the 'exploration' column with random 'Yes' and 'No' values
df['adv_courses'] = pd.Series(random.choices(['Yes', 'No'], weights=[1, 1], k=num_rows))

In [10]:
df['Group'] = pd.Series(random.choices(['Yes', 'No'], weights=[1, 1], k=num_rows))

In [11]:
df['Area'] = pd.Series(random.choices(['Computer Vision', 'NLP','Deep Learning','Data Analysis'], weights=[1,1,1, 1], k=num_rows))

In [12]:
df['Colab'] = pd.Series(random.choices(['Love_Collaborating','Independent','Neutral','Dislike'], weights=[1,1,1,1],k=num_rows))

In [13]:
df['Exp'] = pd.Series(random.choices(['1','2','3','4','5','6','7','8','9','10'], weights=[1,1,1,1,1,1,1,1,1,1], k=num_rows))

In [14]:
df['Resouce'] = pd.Series(random.choices(['Online','TextBook','Peer Discussion','Study Group'], weights=[1, 1,1,1],k=num_rows))

In [15]:
df['exploration'] = pd.Series(random.choices(['Yes','No'], weights=[1, 1], k=num_rows))

In [16]:
df['extracurriculars'] = pd.Series(random.choices(['1','2','3','4','5','6','7','8','9','10'], weights=[1,1,1,1,1,1,1,1,1,1], k=num_rows))

In [17]:
df['help_others'] = pd.Series(random.choices(['1','2','3','4','5','6','7','8','9','10'], weights=[1,1,1,1,1,1,1,1,1,1], k=num_rows))

In [18]:
df['confidence'] = pd.Series(random.choices(['1','2','3','4','5','6','7','8','9','10'], weights=[1,1,1,1,1,1,1,1,1,1], k=num_rows))
df['adv_courses'] =  pd.Series(random.choices(['Yes','No'], weights=[1, 1], k=num_rows))
df['feedback'] = pd.Series(random.choices(['Written','Verbal'], weights=[1,1], k=num_rows))
df['communication'] =  pd.Series(random.choices(['Enjoy Communicating','Neutral','Dislike'], weights=[1, 1,1],k=num_rows))
df['hours'] = pd.Series(random.choices(['1','2','3','4','5','6','7','8','9','10'], weights=[1,1,1,1,1,1,1,1,1,1], k=num_rows))

df['class'] = None

df['class'] =  pd.Series(random.choices(['Beginner','Intermediate','Advanced','Professional'], weights=[1,1,1,1],k=num_rows))

In [25]:
df

,Data_Column,exploration,adv_courses,Group,Area,Colab,Exp,Resouce,extracurriculars,help_others,confidence,feedback,communication,hours,class
0,0,No,No,Yes,Data Analysis,Neutral,8,TextBook,5,5,6,Verbal,Neutral,9,Beginner
1,1,Yes,No,Yes,Computer Vision,Love_Collaborating,1,Study Group,3,6,8,Written,Dislike,3,Professional
2,2,No,No,Yes,Computer Vision,Independent,2,TextBook,10,5,5,Verbal,Dislike,6,Beginner
3,3,No,Yes,Yes,NLP,Independent,6,Peer Discussion,6,9,9,Written,Neutral,7,Advanced
4,4,No,No,Yes,Computer Vision,Love_Collaborating,6,TextBook,4,5,1,Written,Enjoy Communicating,6,Beginner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,No,No,No,NLP,Neutral,1,Study Group,9,10,3,Written,Dislike,10,Professional
996,996,Yes,Yes,No,NLP,Independent,7,TextBook,3,9,1,Written,Enjoy Communicating,7,Intermediate
997,997,Yes,No,Yes,Deep Learning,Independent,9,Peer Discussion,2,4,4,Verbal,Neutral,4,Intermediate
998,998,Yes,Yes,Yes,Deep Learning,Love_Collaborating,9,TextBook,5,3,7,Written,Neutral,8,Advanced
999,999,Yes,No,Yes,Data Analysis,Dislike,3,TextBook,3,5,1,Verbal,Neutral,10,Professional

In [26]:
df=df.drop(columns = ["Data_Column"])

In [55]:
df

,exploration,adv_courses,Group,Area,Colab,Exp,Resouce,extracurriculars,help_others,confidence,feedback,communication,hours,class
0,No,No,Yes,Data Analysis,Neutral,8,TextBook,5,5,6,Verbal,Neutral,9,Beginner
1,Yes,No,Yes,Computer Vision,Highly Collaborative,1,Study Group,3,6,8,Written,Dislike,3,Professional
2,No,No,Yes,Computer Vision,Independent,2,TextBook,10,5,5,Verbal,Dislike,6,Beginner
3,No,Yes,Yes,NLP,Independent,6,Peer Discussion,6,9,9,Written,Neutral,7,Advanced
4,No,No,Yes,Computer Vision,Highly Collaborative,6,TextBook,4,5,1,Written,Enjoy Communicating,6,Beginner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,No,No,No,NLP,Neutral,1,Study Group,9,10,3,Written,Dislike,10,Professional
996,Yes,Yes,No,NLP,Independent,7,TextBook,3,9,1,Written,Enjoy Communicating,7,Intermediate
997,Yes,No,Yes,Deep Learning,Independent,9,Peer Discussion,2,4,4,Verbal,Neutral,4,Intermediate
998,Yes,Yes,Yes,Deep Learning,Highly Collaborative,9,TextBook,5,3,7,Written,Neutral,8,Advanced
999,Yes,No,Yes,Data Analysis,Dislike,3,TextBook,3,5,1,Verbal,Neutral,10,Professional

In [32]:
df.to_csv('StudyGroup2.csv')

In [ ]:
df

In [30]:
df["Colab"]=df['Colab'].replace('Love_Collaborating','Highly Collaborative')

In [31]:
df

,exploration,adv_courses,Group,Area,Colab,Exp,Resouce,extracurriculars,help_others,confidence,feedback,communication,hours,class
0,No,No,Yes,Data Analysis,Neutral,8,TextBook,5,5,6,Verbal,Neutral,9,Beginner
1,Yes,No,Yes,Computer Vision,Highly Collaborative,1,Study Group,3,6,8,Written,Dislike,3,Professional
2,No,No,Yes,Computer Vision,Independent,2,TextBook,10,5,5,Verbal,Dislike,6,Beginner
3,No,Yes,Yes,NLP,Independent,6,Peer Discussion,6,9,9,Written,Neutral,7,Advanced
4,No,No,Yes,Computer Vision,Highly Collaborative,6,TextBook,4,5,1,Written,Enjoy Communicating,6,Beginner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,No,No,No,NLP,Neutral,1,Study Group,9,10,3,Written,Dislike,10,Professional
996,Yes,Yes,No,NLP,Independent,7,TextBook,3,9,1,Written,Enjoy Communicating,7,Intermediate
997,Yes,No,Yes,Deep Learning,Independent,9,Peer Discussion,2,4,4,Verbal,Neutral,4,Intermediate
998,Yes,Yes,Yes,Deep Learning,Highly Collaborative,9,TextBook,5,3,7,Written,Neutral,8,Advanced
999,Yes,No,Yes,Data Analysis,Dislike,3,TextBook,3,5,1,Verbal,Neutral,10,Professional

In [ ]:
df.nunique()

In [33]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [34]:
x=df.iloc[:,1:12]
y=df.iloc[:,-1]
df.isna().sum()

exploration         0
adv_courses         0
Group               0
Area                0
Colab               0
Exp                 0
Resouce             0
extracurriculars    0
help_others         0
confidence          0
feedback            0
communication       0
hours               0
class               0
dtype: int64

In [35]:
x

,adv_courses,Group,Area,Colab,Exp,Resouce,extracurriculars,help_others,confidence,feedback,communication
0,No,Yes,Data Analysis,Neutral,8,TextBook,5,5,6,Verbal,Neutral
1,No,Yes,Computer Vision,Highly Collaborative,1,Study Group,3,6,8,Written,Dislike
2,No,Yes,Computer Vision,Independent,2,TextBook,10,5,5,Verbal,Dislike
3,Yes,Yes,NLP,Independent,6,Peer Discussion,6,9,9,Written,Neutral
4,No,Yes,Computer Vision,Highly Collaborative,6,TextBook,4,5,1,Written,Enjoy Communicating
...,...,...,...,...,...,...,...,...,...,...,...
995,No,No,NLP,Neutral,1,Study Group,9,10,3,Written,Dislike
996,Yes,No,NLP,Independent,7,TextBook,3,9,1,Written,Enjoy Communicating
997,No,Yes,Deep Learning,Independent,9,Peer Discussion,2,4,4,Verbal,Neutral
998,Yes,Yes,Deep Learning,Highly Collaborative,9,TextBook,5,3,7,Written,Neutral
999,No,Yes,Data Analysis,Dislike,3,TextBook,3,5,1,Verbal,Neutral

In [36]:
y

0          Beginner
1      Professional
2          Beginner
3          Advanced
4          Beginner
           ...
995    Professional
996    Intermediate
997    Intermediate
998        Advanced
999    Professional
Name: class, Length: 1000, dtype: object

In [38]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [40]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Initialize the OneHotEncoder
encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')

In [41]:
categorical_column_list = list(x_train.select_dtypes(exclude=["number","bool_"]).columns)

In [42]:
categorical_column_list

['adv_courses',
 'Group',
 'Area',
 'Colab',
 'Exp',
 'Resouce',
 'extracurriculars',
 'help_others',
 'confidence',
 'feedback',
 'communication']

In [53]:
o = pd.get_dummies(df,columns=['adv_courses'])
print(o)

    exploration Group             Area                 Colab Exp  \
0            No   Yes    Data Analysis               Neutral   8
1           Yes   Yes  Computer Vision  Highly Collaborative   1
2            No   Yes  Computer Vision           Independent   2
3            No   Yes              NLP           Independent   6
4            No   Yes  Computer Vision  Highly Collaborative   6
..          ...   ...              ...                   ...  ..
995          No    No              NLP               Neutral   1
996         Yes    No              NLP           Independent   7
997         Yes   Yes    Deep Learning           Independent   9
998         Yes   Yes    Deep Learning  Highly Collaborative   9
999         Yes   Yes    Data Analysis               Dislike   3

             Resouce extracurriculars help_others confidence feedback  \
0           TextBook                5           5          6   Verbal
1        Study Group                3           6          8  Written
2           TextBook               10           5          5   Verbal
3    Peer Discussion                6           9          9  Written
4           TextBook                4           5          1  Written
..               ...              ...         ...        ...      ...
995      Study Group                9          10          3  Written
996         TextBook                3           9          1  Written
997  Peer Discussion                2           4          4   Verbal
998         TextBook                5           3          7  Written
999         TextBook                3           5          1   Verbal

           communication hours         class  adv_courses_No  adv_courses_Yes
0                Neutral     9      Beginner               1                0
1                Dislike     3  Professional               1                0
2                Dislike     6      Beginner               1                0
3                Neutral     7      Advanced               0                1
4    Enjoy Communicating     6      Beginner               1                0
..                   ...   ...           ...             ...              ...
995              Dislike    10  Professional               1                0
996  Enjoy Communicating     7  Intermediate               0                1
997              Neutral     4  Intermediate               1                0
998              Neutral     8      Advanced               0                1
999              Neutral    10  Professional               1                0

[1000 rows x 15 columns]

In [54]:
o = pd.get_dummies(df,columns=['communication hours','feedback ','Resouce'])

KeyError: "['communication hours', 'feedback '] not in index"